
{% if detail %}
  <div id="beer-detail">
    <h1>{{beer.name|escape }}</h1>
    <br/>
    {{beer.description|escape }}
    <br/><br/>


    <div class="vote-box-big">
      <img src="/static/css/images/beer-64x64.png" border="0"><br/>
      <span id="beer-{{beer.permalink}}-vote">{{beer.number_of_votes}}</span><br/>
      {% if user_can_vote %}
          <a class="vote-up" href="/vote/{{beer.permalink}}">Like it</a>
      {% endif %}
    </div>


    <h2>from:</h2>
    {{beer.brewery.name|escape }} -
    <a href="#">more beers</a>
    <br/><br/>
    <h2>alcohol by volume (abv):</h2>
    {{beer.abv}}%
    <br/><br/>
    <h2>international bitterness units(ibu):</h2>
    {{beer.ibu}}
    <br/><br/>
    <h2>located:</h2>
    {{beer.brewery.address|escape }}
    <br/><br/>
    <h2>website:</h2>
    {% ifnotequal beer.brewery.website None %}
      <a href="{{beer.brewery.website}}">{{beer.brewery.website|escape }}</a>
    {% endifnotequal %}

    <h2>Reviews:</h2>
    {% ifnotequal beer.video None %}
      {{beer.video|safe }}</a>
    {% endifnotequal %}

  </div>

{% else %}


  <div id="beer-summary">
    <div id="vote-box">

       <img src="/static/css/images/beer-32x32.png" border="0"><br/>
       <span id="beer-{{beer.permalink}}-vote">{{beer.number_of_votes}}</span><br/>
       {% if user_can_vote %}
          <a class="vote-up" href="/vote/{{beer.permalink}}">Like it</a>
       {% endif %}
     </div>


    <a href="/beer/{{beer.permalink}}">{{ beer.name|escape  }}</a>
    <div>{{ beer.short_desc|escape }}</div>
  </div>

{% endif %}

