{% extends "base.html" %}

{% block page_name %}New Beer{% endblock %}

{% block content %}

<h2>Add your Beer</h2>

<br/>
  <form action="/beers/create" method="post">
    <div>Name:<br/><input type="text" id="name" name="name"/></div><br/>
    <div>Description:<br/><textarea name="description" rows="3" cols="60"></textarea></div><br/>
    <div>ABV:<br/><input type="text" id="abv" name="abv"/></div><br/>
    <div>Brewery:<br/><input type="text" id="brewery_name" name="brewery_name"/></div><br/>
    <div>Brewery Location:<br/><input type="text" id="brewery_address" name="brewery_address"/></div><br/>
    <div>Website:<br/><input type="text" id="website" name="website"/></div><br/>
    <div><input type="submit" value="Submit" class="blue_button big"> or <a href="/">cancel</a></div>
  </form>
  
{% endblock %}
