{% extends "base.html" %}

{% block page_name %}Search Beers{% endblock %}

{% block content %}

<h2>Search for your beer</h2>

<br/>

  <form action="/beer/search" method="post">
    <div>
      <input type="text" id="query" name="query" value="{{query}}" class="text_field big wide" />
      <input type="submit" value="Submit" class="blue_button big">
    </div>
  </form>
  
  {% ifnotequal beers None %}
    {% ifequal beers.count 0 %}
       <br/>
      <h2>Sorry we did not find your beer, help us out by <a href="/beers/new">adding it</a>!</h2>
    {% endifequal %}
    <ul class="list">
      {% for beer in beers %}
          <li>
             {% render_beer beer user %}
          </li>
      {% endfor %}
    </ul>
  {% endifnotequal %}
  
{% endblock %}
