{% extends "base.html" %}

{% block page_name %}{{beer.name}}{% endblock %}

{% block content %}

  <h1>{{beer.name}}</h1>
  <br/>
  {{beer.description}}
  <br/><br/>
  <h2>from:</h2>
  {{beer.brewery.name}} - 
  <a href="#">more beers</a>
  <br/><br/>
  <h2>alcohol by volume (abv):</h2>
  {{beer.abv}}%
  <br/><br/>
  <h2>international bitterness units(ibu):</h2>
  {{beer.ibu}}
  <br/><br/>
  <h2>located:</h2>
  {{beer.brewery.address}}
  <br/><br/>
  <h2>website:</h2>
  {% ifnotequal beer.brewery.website None %}
    <a href="{{beer.brewery.website}}">{{beer.brewery.website}}</a>
  {% endifnotequal %}
  <br/><br/>
  
  
  <a href="/">Back</a>
  
{% endblock %}
